#totalalign {
    box-sizing: border-box;
    align-items: center;
}

#sidebig {
    background-size: cover;
    width: 60%;
    text-decoration: none;
    float: left;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 70px;
}

    #sidebig:hover {
        cursor: pointer;
        opacity: 0.8;
    }

.small {
    width: 430px;
    display: block;
    height: 200px;
    padding-left: 20px;
    padding-bottom: 3px;
    padding-top: 20px
}

    .small:hover {
        cursor: pointer;
        opacity: 0.8;
    }



    /*card1*/
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 350px;
    background-color: white;
}


/*card2*/
.cardnew2 {
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}